{% extends "body.html" %}
{% load static %}
{% block page_content %}
    <h1>Required products</h1>
    <div class="row">
    {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-2">

                <img class="card-img-top" src="{{ product.image_url }}">

            </div>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p>{{ product.id }}</p>
                <a href="{%  url 'order' product.id %}" class="btn btn-primary"> Open request </a>
            </div>
        </div>
    {% endfor %}
    </div>






{% endblock %}