{% extends "body.html" %}
{% load static %}


{% block page_content %}
    <div class="container " style="margin: 0 auto; margin:0% 0% 15%;">
        <div class="row mb-3">
            <div class="col-lg-4 "></div>
            <div class="col-lg-4 shadow p-3  rounded my-auto">
                <form class="">
                    <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="name@example.com" required autofocus>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
        <div class="container py-6 ">
            <div class="mt-6 mb-6"> To access the demo site for administration please go
                <a href={% url "administration" 4 %}>here</a>
            </div>
        </div>
    </div>

{% endblock %}