{% extends "body_fluid.html" %}
{% load static %}


{% block page_content %}

    <meta http-equiv="x-ua-compatible" content="IE=Edge">

    <!-- Ensures the web page looks good on all screen sizes. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Add references to the Azure Maps Map control JavaScript and CSS files. -->
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css">
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>

    <style>

        #myMap {
            width: 99.2%;
            height: 40vw;
        }</style>
    <div class="row ">
        <div id="myMap"></div>
    </div>
    <script type="text/javascript">

        //Create an instance of the map control and set some options.
        var map = new atlas.Map('myMap', {
            center: [9.4642, 45.500],
            zoom: 9,
            language: 'en-US',
            authOptions: {
                authType: 'subscriptionKey',
                subscriptionKey: 'PiEFZPiPl8ibQudVmL6e-wcAI7-Y92UkvvK57uCHcJc'
            }
        });

        map.controls.add([
            new atlas.control.ZoomControl(),
            new atlas.control.CompassControl(),
            new atlas.control.PitchControl(),
            new atlas.control.StyleControl()
        ], {
            position: "top-right"
        });

        map.events.add('ready', function () {
            var datasource = new atlas.source.DataSource();
            map.sources.add(datasource);

//Create a layer that defines how to render points in the data source and add it to the map.
            // map.layers.add(new atlas.layer.BubbleLayer(datasource));

            map.layers.add(new atlas.layer.SymbolLayer(datasource, null, {
                textOptions: {
                    textField: ['concat', ['get', 'place']],

                    //Some additional style options.
                    offset: [0, -1.5],
                    size: 12,
                    color: 'Black'
                }
            }));

//Load the earthquake data.
//            datasource.importDataFromUrl('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.geojson');
//            datasource.importDataFromUrl('{% static "my_locations.geojson" %}');
            datasource.importDataFromUrl('https://raw.githubusercontent.com/SasCezar/E-Grid/dev-ui/static/my_locations.geojson');
        });
    </script>
{% endblock %}