{% extends "body.html" %}
{% load static %}
{% block page_content %}



    <h2 class="text-center"> {{ product.name }}</h2>
    <div class="row container">

        <div class="col-md-8">
            <img class="card-img-top" src="{{ product.image_url }}">
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Description</h3>
            <p class="card-text">{{ product.description }}</p>
        </div>
    </div>

    <div class="orders">
        <h3 class="text-center">Orders</h3>
        {% for order in orders %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-body rounded border shadow">
                        <h5 class="card-title"><span class="badge badge-primary">priority high</span></h5>
                        <p>{{ order.quantity }}
                        <p>{{ order.unit_price }}</p>
                        <p>{{ order.buyer_id.name }}</p>
                        <p>{{ order.buyer_id.address.country }}</p>
                        <button class="btn btn-outline-primary" type="submit">Act</button>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="card-body">

        <p>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#description"
                    aria-expanded="false" aria-controls="collapseExample">
                Description
            </button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#specification"
                    aria-expanded="false" aria-controls="collapseExample">
                Specification
            </button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#buyername"
                    aria-expanded="false" aria-controls="collapseExample">
                Organization
            </button>
        </p>

        <div class="collapse" id="description">
            <div class="card card-body">
                <p>{{ product.description }}</p></div>
        </div>
        <div class="collapse" id="specification">
            <div class="card card-body">
                <p>{{ product.specification }}</p></div>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <p>{{ buyer.name }}</p></div>
        </div>


    </div>





{% endblock %}